body{
  background: #252525;
  color: #fff;
  overflow: hidden;
  font-family: sans-serif;
  }
div[id="total"]{
  width: 100%;
  height: 10%;
  overflow: auto;
  }
textarea[id="console1"]{
  width: 100%;
  height: 100%;
  }